#!/bin/bash
which gawk > /dev/null || exit 1
test -f .gitignore && grep -q "^#GENERATED" < .gitignore || exit 1
tmp=`mktemp --suffix _gitignore`
awk '/^#GENERATED/ { a = 1 } { if(a>0) { if (a==1) { print $0 }; a++; } else { print $0 } }' < .gitignore > $tmp
awk '/^#GENERATED/ { a = 1 } { if(a>0) { if (a>1) { print $0; }; a++; } }' < .gitignore > $tmp.generated
find -name "*.hs" -exec sh -c 'dirname `dirname {}`' \; -exec dirname {} \; -exec echo {} \; \
	| sed 's,^\./,!,' | grep -v "^\." | grep -v "Generated/" | grep -v "Generated$" >> $tmp.generated
(cat $tmp; awk -F"/" '{ for(i = 1; i <= 20; i++) { v = gensub(/\..*$/,"","g",$i); printf("%03d%-50s",length(v),v) } print v "==" $0 }' $tmp.generated \
	| sort -n | sed 's,^.*==,,' | uniq | gawk -F"!" '@load "filefuncs"; { if(stat($2,fstat) == 0) { print $0 } }') > .gitignore
exit
#ENDSCRIPT




*
!.gitignore
!.profile
!Makefile
!enqin.md
!scripts
!scripts/*.sh
!images
!images/*




#GENERATED
!Enqm
!Enqm.hs
!Enqm/API
!Enqm/API.hs
!Enqm/API/RPC
!Enqm/API/RPC.hs
!Enqm/API/RPC/Generic.hs
!Enqm/API/RPC/Instances.hs
!Enqm/API/Types.hs
!Enqm/API/Methods.hs
!Enqm/API/UnixShell
!Enqm/API/UnixShell.hs
!Enqm/API/UnixShell/Generated.hs
!Enqm/Nell
!Enqm/Nell/Eneqnell.hs
!Enqm/Nell/Sharnell.hs
!Enqm/Nell/Stereonell.hs
!Enqm/Block
!Enqm/Block.hs
!Enqm/Block/Micro.hs
!Enqm/Block/Classic.hs
!Enqm/Model
!Enqm/Model/Folding
!Enqm/Model/Folding/HashLink.hs
!Enqm/Model/Folding/HashSequence.hs
!Enqm/Model/Folding/LedgerPoints.hs
!Enqm/Model/Folding/ShardingLevel.hs
!Enqm/Model/Branching.hs
!Enqm/Model/Migration.hs
!Enqm/Model/Archivation.hs
!Enqm/Model/Cancellation.hs
!Enqm/Model/Prolongation.hs
!Enqm/Smart
!Enqm/Smart/Logic
!Enqm/Smart/Logic/PetriNet
!Enqm/Smart/Logic/PetriNet.hs
!Enqm/Smart/Logic/PetriNet/Logarithms.hs
!Enqm/Smart/Logic/Operators.hs
!Enqm/Smart/Logic/Signatures.hs
!Enqm/Smart/Events
!Enqm/Smart/Events/Effect.hs
!Enqm/Smart/Events/Planning.hs
!Enqm/Smart/Events/Actualization.hs
!Enqm/Smart/Ticket
!Enqm/Smart/Ticket/Token.hs
!Enqm/Smart/Ticket/Cheques.hs
!Enqm/Smart/Ticket/Marking.hs
!Enqm/Smart/Contract
!Enqm/Smart/Contract/Moments.hs
!Enqm/Smart/Contract/Occupancy.hs
!Enqm/Smart/Contract/Consequence.hs
!Enqm/Smart/Contract/Preconditions.hs
!Enqm/Smart/Functional
!Enqm/Smart/Functional/PureState.hs
!Enqm/Smart/Functional/Indicators.hs
!Enqm/Smart/Functional/StateLinking
!Enqm/Smart/Functional/StateLinking.hs
!Enqm/Smart/Functional/StateLinking/Security.hs
!Enqm/Smart/Functional/StateLinking/Automaticity.hs
!Enqm/Smart/Functional/StateLinking/Responsibility.hs
!Enqm/Ecology
!Enqm/Ecology/Branch
!Enqm/Ecology/Branch/Top.hs
!Enqm/Ecology/Branch/Leader.hs
!Enqm/Ecology/Branch/Middle.hs
!Enqm/Ecology/Branch/Reward.hs
!Enqm/Ecology/Branch/BigData.hs
!Enqm/Ecology/Branch/Dumping.hs
!Enqm/Ecology/Branch/Private.hs
!Enqm/Ecology/Branch/DataSupport.hs
!Enqm/Ecology/Branch/Statistical.hs
!Enqm/Ecology/Scaling.hs
!Enqm/Ecology/Checking.hs
!Enqm/Ecology/Filtring.hs
!Enqm/Ecology/Security.hs
!Enqm/Ecology/Sharding
!Enqm/Ecology/Sharding.hs
!Enqm/Ecology/Sharding/Seeding
!Enqm/Ecology/Sharding/Seeding.hs
!Enqm/Ecology/Sharding/Seeding/Outline.hs
!Enqm/Ecology/Sharding/Background
!Enqm/Ecology/Sharding/Background/Garbage.hs
!Enqm/Ecology/Sharding/Background/Manager.hs
!Enqm/Ecology/Sharding/Background/Mutality.hs
!Enqm/Ecology/Sharding/Tranquality
!Enqm/Ecology/Sharding/Tranquality/Adaptivity.hs
!Enqm/Ecology/Sharding/Tranquality/Consistency.hs
!Enqm/Ecology/Sharding/Tranquality/Peparedness.hs
!Enqm/Ecology/Sharding/Distribution
!Enqm/Ecology/Sharding/Distribution/Planning.hs
!Enqm/Ecology/Sharding/Distribution/Assurance.hs
!Enqm/Ecology/Sharding/Distribution/Percolation.hs
!Enqm/Ecology/Atmosphere.hs
!Enqm/Ecology/Duplication.hs
!Enqm/Network
!Enqm/Network.hs
!Enqm/Network/Quotas.hs
!Enqm/Network/Routing.hs
!Enqm/Network/PeerProxy.hs
!Enqm/Network/Receiving
!Enqm/Network/Receiving.hs
!Enqm/Network/Receiving/Block
!Enqm/Network/Receiving/Block.hs
!Enqm/Network/Receiving/Block/Micro.hs
!Enqm/Network/Receiving/Block/Classic.hs
!Enqm/Network/Receiving/Transaction
!Enqm/Network/Receiving/Transaction.hs
!Enqm/Network/Receiving/Transaction/Pending.hs
!Enqm/Network/Receiving/Transaction/Checking.hs
!Enqm/Network/Receiving/Transaction/Security.hs
!Enqm/Network/Transport
!Enqm/Network/Transport/TCP.hs
!Enqm/Network/Transport/UDP.hs
!Enqm/Network/Tunneling
!Enqm/Network/Tunneling/Tor.hs
!Enqm/Network/Distributed
!Enqm/Network/Distributed/DHT.hs
!Enqm/Network/Publication
!Enqm/Network/Publication.hs
!Enqm/Network/Publication/Transaction
!Enqm/Network/Publication/Transaction.hs
!Enqm/Network/Publication/Transaction/DeliveryControl.hs
!Enqm/Network/Publication/Broadcasting.hs
!Enqm/Network/HolePunching
!Enqm/Network/HolePunching/TCP.hs
!Enqm/Network/HolePunching/UDP.hs
!Enqm/Storage
!Enqm/Storage/Manager
!Enqm/Storage/Manager/Quotas.hs
!Enqm/Storage/Manager/AllocationPlan.hs
!Enqm/Storage/Manager/DataParameters.hs
!Enqm/Explorer
!Enqm/Explorer/Block.hs
!Enqm/Explorer/Graph.hs
!Enqm/Explorer/Network.hs
!Enqm/Consensus
!Enqm/Consensus.hs
!Enqm/Consensus/Block.hs
!Enqm/Consensus/Impact
!Enqm/Consensus/Impact.hs
!Enqm/Consensus/Impact/Statistics.hs
!Enqm/Consensus/Solver.hs
!Enqm/Consensus/Security.hs
!Enqm/Consensus/Macroblock.hs
!Enqm/Consensus/Microblock.hs
!Enqm/Consensus/Publicators.hs
!Enqm/Consensus/Verification.hs
!Enqm/Macroblock
!Enqm/Macroblock.hs
!Enqm/Macroblock/Security.hs
!Enqm/Macroblock/Calculator.hs
!Enqm/Macroblock/Publicators.hs
!Enqm/Statistics
!Enqm/Statistics.hs
!Enqm/Statistics/Voting.hs
!Enqm/Statistics/Analyse
!Enqm/Statistics/Analyse/MonteCarlo.hs
!Enqm/Statistics/Analyse/MarkovChain.hs
!Enqm/Statistics/Analyse/Interpolation.hs
!Enqm/Statistics/Analyse/WindowFunction.hs
!Enqm/Statistics/Reports
!Enqm/Statistics/Reports/Rate.hs
!Enqm/Statistics/Reports/Latency.hs
!Enqm/Statistics/FuzzyDay
!Enqm/Statistics/FuzzyDay.hs
!Enqm/Statistics/FuzzyDay/Record.hs
!Enqm/Statistics/FuzzyDay/MultiBar.hs
!Enqm/Statistics/Complexity
!Enqm/Statistics/Complexity/ProofOfWork.hs
!Enqm/Statistics/SystemHealth.hs
!Enqm/BonusSystem
!Enqm/BonusSystem.hs
!Enqm/BonusSystem/PeerResources.hs
!Enqm/BonusSystem/TimeAgainstRisk.hs
!Enqm/ProofOfWork
!Enqm/ProofOfWork.hs
!Enqm/ProofOfWork/PvcnHashLoop.hs
!Enqm/ProofOfStake
!Enqm/ProofOfStake.hs
!Enqm/ProofOfStake/Minimal.hs
!Enqm/Serialization
!Enqm/Serialization.hs
!Enqm/Serialization/Graph
!Enqm/Serialization/Graph.hs
!Enqm/Serialization/Graph/Quick.hs
!Enqm/Serialization/Graph/Ordering.hs
!Enqm/Serialization/Graph/Splitting.hs
!Enqm/Serialization/Generics.hs
!Enqm/Serialization/Presence
!Enqm/Serialization/Presence.hs
!Enqm/Serialization/Presence/Block.hs
!Enqm/Serialization/Presence/Packet.hs
!Enqm/Serialization/Presence/Puzzle.hs
!Enqm/Serialization/Presence/Subgraph.hs
!Enqm/Serialization/ForNetwork.hs
!Enqm/Serialization/ForStorage.hs
!Enqm/Serialization/Compression
!Enqm/Serialization/Compression.hs
!Enqm/Serialization/Compression/TextData.hs
!Enqm/Serialization/Compression/Transfers.hs
!Enqm/Serialization/Compression/PublicKeys.hs
!Enqm/Serialization/Compression/Signatures.hs
!Enqm/Serialization/DirectHashing.hs
!Enqm/Serialization/TemplateHaskell.hs
!Enqm/Confidentiality
!Enqm/Confidentiality/Wallet.hs
!Enqm/ProofOfActivity
!Enqm/ProofOfActivity.hs
!Enqm/ProofOfActivity/PowVerification
!Enqm/ProofOfActivity/PowVerification/PvcnHashLoop.hs
!Enqm/DirectAcyclicHyperGraph
!Enqm/DirectAcyclicHyperGraph.hs
!Enqm/DirectAcyclicHyperGraph/PatriciaTreeWithIORef.hs
!Enqm/TransactionsAndSignatures.hs
!enqin.hs
