#!/bin/bash
test -f .gitignore && grep -q "^#GENERATED" < .gitignore || exit 1
tmp=`mktemp --suffix _gitignore`
awk '/^#GENERATED/ { a = 1 } { if(a>0) { if (a==1) { print $0 }; a++; } else { print $0 } }' < .gitignore > $tmp
awk '/^#GENERATED/ { a = 1 } { if(a>0) { if (a>1) { print $0; }; a++; } }' < .gitignore > $tmp.generated
find -name "*.hs" -exec dirname {} \; -exec echo {} \; | sed 's,^\./,!,' | grep -v "^\." >> $tmp.generated
(cat $tmp; sort $tmp.generated | uniq) > .gitignore
#(sort $tmp.generated | uniq) >> .gitignore
exit
#ENDSCRIPT




*
!.gitignore
!Makefile




#GENERATED
!Enqm
!Enqm/Block
!Enqm/Block/Classic.hs
!Enqm/Block.hs
!Enqm/Block/Micro.hs
!Enqm/DirectAcyclicHyperGraph
!Enqm/DirectAcyclicHyperGraph.hs
!Enqm/DirectAcyclicHyperGraph/Simple2.hs
!Enqm/DirectAcyclicHyperGraph/Simple.hs
!Enqm.hs
!Enqm/Macroblock
!Enqm/Macroblock.hs
!Enqm/Macroblock/Publicators.hs
!Enqm/Macroblock/Security.hs
!Enqm/Model
!Enqm/Model/Cancellation.hs
!Enqm/Model/Prolongation.hs
!Enqm/Nell
!Enqm/Nell/Sharnell.hs
!Enqm/Nell/Stereonell.hs
!Enqm/ProofOfActivity.hs
!Enqm/ProofOfActivity/PowVerification
!Enqm/ProofOfActivity/PowVerification/PvcnHashLoop.hs
!Enqm/ProofOfStake
!Enqm/ProofOfStake.hs
!Enqm/ProofOfStake/Minimal.hs
!Enqm/ProofOfWork
!Enqm/ProofOfWork.hs
!Enqm/ProofOfWork/PvcnHashLoop.hs
!Enqm/Statistics
!Enqm/Statistics/Complexity
!Enqm/Statistics/Complexity/ProofOfWork.hs
!Enqm/Statistics/FuzzyDay.hs
!Enqm/Statistics.hs
!Enqm/Statistics/SystemHealth.hs
!Enqm/TransactionsAndSignatures.hs
